@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans&family=Poppins&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    
}

.error{
    margin-bottom: 20px;
    color: rgb(175, 0, 0);
}

.cardInput{
    margin-bottom: 23px
}

.date{
    margin-bottom: 23px
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    
}

.left{
    height: 100%;
    width: 25%;
    background-image: url(images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.card1{
    background-image: url(images/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 230px;
    width: 400px;
    border-radius: 10px;
    position: absolute;
    top: 160px;
    left: 120px;
    display: flex;
    flex-direction: column;
    padding: 30px
}

.firsthalf{
    width: 100%;
    height: 50%;
}
.cardlogo{
    width: 70px;
}

.otherhalf{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.cardnum{
    height: 70%;
    width: 100%;
    display: flex;
    
    

}

.cardNumber{
    font-size: 28px;
    color: rgba(255, 255, 255, 0.9);
    height: 80%;
}

.info{
    height: 30%;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.9);
    align-items: flex-end
}





.card2{
    background-image: url(images/bg-card-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 230px;
    width: 400px;
    border-radius: 10px;
    position: absolute;
    top: 420px;
    left: 200px;
    padding-top: 102px;
    padding-left: 55px;
    padding-right: 40px;
    display: flex;
    justify-content: flex-end;
    color: rgba(255, 255, 255, 0.9);

}

.right{
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    
}

.formbox{
    height: auto;
    width: 420px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.inputlabel{
    font-size: 15px;
}

#cname{
    width: 100%;
    height: 50px;
    border-radius: 9px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 20px;
    margin-top: 3px;
    padding-left: 16px;
    transition: border-color 0.3s;
}
#cnumber{
    width: 100%;
    height: 50px;
    border-radius: 9px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 20px;
    /* margin-bottom: 20px; */
    margin-top: 3px;
    padding-left: 16px;
}
.date{
    height: auto;
    width: 100%;
    display: flex;
}

.expDatebox{
    width: 50%; 
}

.datainputboxleft{
    width: 47.5%;
}
.dateinputbox{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: space-between;
    margin-top: 3px;

}
#expDate{
    width: 100%;
    height: 50px;
    border-radius: 9px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding-left: 16px;
}

.datelabel{
    font-size: 15px;
}
.cvc{
    width: 50%;
}
.cvcBox{
    padding-left: 20px;
}

#cvc{
    margin-top: 3px;
    height: 50px;
    border-radius: 9px;
    padding-left: 16px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.cvcinputbox{
    height: 50%;
    width: 100%;

}


#submission{
    width: 100%;
    height: 50px;
    cursor: pointer;
    border-radius: 9px;
    border: none;
    background: #220930;
    color: white;
    font-size: 18px;
    margin-top: 0px;
}

.thankyou{
    height: 320px;
    width: 420px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    display: none;
}

.top{
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thankyoucircle{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: linear-gradient(360deg, #3b0567, #6325D0,#7e5ffc);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}



.bottom{
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.heading{
    font-size: 32px;

}

.textbody{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.558);

}
.continuebutton{
    width: 100%;
    height: 50px;
    cursor: pointer;
    border-radius: 9px;
    border: none;
    background: #220930;
    color: white;
    font-size: 18px;
    margin-top: 15px;
}


@media (min-width: 768px) and (max-width: 1024px) {
    
    .container {
        height: ;
        width: 100%;
        display: flex;
    }


    .left{
        width: 35%;
    }
    .card1{
        left: 20px;
        
    }
    .card2{
        left: 50px;
    }
    .right{
        height: 200px;
        width: 65%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    

}

@media (max-width: 768px) {
    .container {
        height: ;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .left{
        height: 380px;
        width: 100%;
        background-image: url(images/bg-main-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .right{
        height: 900px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .card1{
        background-image: url(images/bg-card-front.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 175px;
        width: 300px;
        border-radius: 10px;
        position: absolute;
        top: 150px;
        left: 23px;
        display: flex;
        flex-direction: column;
        padding: 30px;
        z-index: 2;
    }
    .card2{
        background-image: url(images/bg-card-back.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 175px;
        width: 300px;
        border-radius: 10px;
        position: absolute;
        top: 53px;
        left: 70px;
        padding-top: 75px;
        padding-left: 55px;
        padding-right: 25px;
        display: flex;
        justify-content: flex-end;
        color: rgba(255, 255, 255, 0.9);
    
    }
    .cardNumber{
        font-size: 21px;
    }
    .info{
        font-size: 14px;
    }
  }

  @media (width: 768px) and (height: 1024px) and (orientation: portrait) {

    .formbox{
        width: 85%;
    }


    .card1{
        background-image: url(images/bg-card-front.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 230px;
        width: 400px;
        border-radius: 10px;
        position: absolute;
        top: 180px;
        left: 100px;
        display: flex;
        flex-direction: column;
        padding: 30px;
        z-index: 2;
    }
    .card2{
        background-image: url(images/bg-card-back.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 230px;
        width: 400px;
        border-radius: 10px;
        position: absolute;
        top: 53px;
        left: 230px;
        padding-top: 105px;
        padding-left: 55px;
        padding-right: 40px;
        display: flex;
        justify-content: flex-end;
        color: rgba(255, 255, 255, 0.9);
    
    }

    .cardNumber{
        font-size: 29px;
    }
    .info{
        font-size: 18px;
    }
  }

  